.navbar-full {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 50px;
  width: 100%;
}
.navbar {
  height: 100%;
  max-width: 1035px;
  margin: 0 auto;
}
.img-nav {
  height: 100%;
  padding: 0.65rem;
}
.img-nav img {
  height: 100%;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-btn {
  font-size: 16px;
  padding: 2px 8px;
  font-weight: 400;
  border-radius: 100000000px;
}
.item {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
  padding: 4px 8px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.line {
  width: 30px;
  height: 2px;
  background-color: white;
}
.lines {
  display: none;
}
.line-1 {
  margin-bottom: 0.2rem;
}
.nav-items {
  justify-self: flex-end;
}
@media screen and (max-width: 640px) {
  .lines {
    display: block;
  }
  .nav-items {
    display: none;
  }
}
