.navbar-full {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 50px;
  width: 100%;
}
.navbar {
  height: 100%;
  max-width: 1035px;
  margin: 0 auto;
  padding: 8px 18px;
}
.img-nav {
  height: 100%;
  padding: 0.25rem;
}
.img-nav img {
  height: 100%;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-btn {
  font-size: 16px;
  padding: 2px 8px;
  font-weight: 400;
  border-radius: 100000000px;
}
.item {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
  padding: 4px 8px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.line {
  width: 20px;
  height: 1.6px;
  background-color: white;
}
.btn-lines {
  display: none;
}
.line-1 {
  margin-bottom: 0.3rem;
}
.nav-items {
  justify-self: flex-end;
}
@media screen and (max-width: 640px) {
  .btn-lines {
    display: flex;
    align-items: center;
  }
  .btn-cont {
    margin-right: 1rem;
  }
  .nav-items {
    display: none;
  }
}
.wh {
  background-color: white;
  height: 100vh;
}
.do-wh {
  background-color: white;
}
.sm-item {
  height: 63px;
  display: flex;
  margin: 20px 0px;
}
.sm-img {
  height: 100%;
}
.sm-img img {
  height: 100%;
}
.sm-img-text {
  padding-left: 2rem;
}
.sm-nav {
  padding: 12px 20px 16px;
}
