.first-text {
  text-align: center;
}
.first-text h1 {
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 1px;
  /* font-weight: 600; */
  margin-bottom: 0px;
  max-width: 700px;
  font-size: 45px;
  margin: 0 auto;
}
.fern {
  position: absolute;
  width: 150px;
  top: 60px;
}

.fern-1 {
  left: 0;
  transform: rotate(90deg);
}
.fern-2 {
  right: 0;
  transform: rotate(-90deg);
}
.total-header {
  max-width: 600px;
  margin: 0 auto 96px auto;
}
.first-text {
  padding: 120px 50px 50px;
}
.total-header h1 {
  text-align: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.75px;
}
.inner-p {
  line-height: 1.6;
  display: block;
  margin-bottom: 14px;
  font-size: 20px;
}
.three-approaches {
  max-width: 730px;
  margin: 0 auto;
  max-width: 600px;
}
.overall-header {
  margin: 24px 0px 64px;
  text-align: center;
  font-weight: 600px;
  line-height: 1.2;
  /* letter-spacing: 1px; */
  font-size: 40px;
}
h1 {
  font-size: 30px;
}
.image {
  background-color: rgb(253, 243, 229);
  width: 105px;
  height: 105px;
  margin: 2rem auto;
  border-radius: 50%;
}
.image svg {
  position: relative;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.approach-inner {
  text-align: center;
}
.approach-inner h1 {
  padding-bottom: 10px;
  font-weight: 600;
}
.approach-inner .app-p {
  margin-top: 12px;
  font-style: italic;
  color: rgb(102, 102, 102);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.approach-inner p {
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 20px;
}
.inner-p {
  text-align: left;
}
.approach-inner-img img {
  margin: 40px 0px;
  margin: 40px auto;
  /* border: 1px solid #072f10; */
}
.approach-inner-img h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.approach-inner-img {
  width: 100%;
}
.approach-inner-img p {
  text-align: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  line-height: 1.3;
  color: rgb(102, 102, 102);
}
.img-2 {
  background-color: #e8fcf0;
}
.img-3 {
  background-color: #faf2fb;
}
@media screen and (min-width: 1000px) {
  .first-text {
    padding: 120px 50px 50px;
  }
  .first-text h1 {
    font-size: 60px;
  }
  .fern {
    top: 100px;
    width: 200px;
  }
  .fern-1 {
    width: 250px;
  }
  .fern-2 {
    width: 200px;
  }
}
@media screen and (max-width: 720px) {
  .fern-1 {
    top: 160px;
    left: -20px;
    width: 70px;
    transform: rotate(45deg);
  }
  .fern-2 {
    top: 100px;
    right: -47px;
    width: 100px;
    transform: rotate(220deg);
  }
  .total-header h1 {
    font-size: 24px;
  }
  h1 {
    font-size: 24px;
  }
  .inner-p,
  .approach-inner p {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {
  .three-approaches {
    max-width: 90vw;
  }
  .total-header {
    max-width: 90vw;
  }
}
