@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
.bg-rainforest {
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73) ), url("./assets/rainforest.jpeg");
  background-size: cover;
  background-position: center;

}
.bg-basalt {
  background-image:linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73) ), url("./assets/two.jpeg");
  background-size: cover;
  background-position: center;

}

/* Add your desired styles for the sticky navbar */
.sticky-navbar {
  position: fixed;
  top: 3%;
  z-index: 100;
}
.white-icon {
  color: white;
}

.white-icon::before {
  fill: white;
}

.root {
  width: 100vw;
  overflow-x: hidden;
}
